@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  font-family: "Roboto Condensed", sans-serif;
  scroll-behavior: smooth;
}

h4 .wrap {
  border-right: .15em solid #000;
  animation: blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #000; }
}